@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #E5E5E5;
}

header{
    padding: 24px 16px;
}


/*Seccion de input texto y botones */
main section{
    padding: 56px 16px 0px 16px;
}

.contenedor-texto{
    display: flex;
    flex-direction: column;
}

.contenedor-texto textarea{
    border: none;
    color: #0A3871;
    font-size: 32px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    background-color: #E5E5E5;
}

.fa-circle-exclamation{
    display: block;
}
.text-advertencia{
    font-size: 12px;
    color: #495057;
}

.contenedor-botones{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.btn{
    padding: 24px;
    border-radius: 24px;
    border-color: #0A3871;
    border-width: 1px;
    color: #0A3871;
    font-size: 16px;
    cursor: pointer;
}

.btn-encriptar{
    background-color: #0A3871;
    color: white;
}

/* Contenedor de resultado */
.contenedor-resultado{
    padding: 64px 24px 40px 24px;
}

.contendor-mensaje{
    background-color: white;
    border-radius: 32px;
    padding: 32px;
    text-align: center;
}

.contendor-mensaje h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #343A40;
}

.contendor-mensaje p{
    font-size: 16px;
    color: #495057;
}